.panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form {
    margin-bottom: 12px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 4px;
}

input, select {
    padding: 8px;
    border: 1px solid #262626;
    border-radius: 6px;
    width: 100%;
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: rgb(40, 45, 190);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: rgb(32, 36, 151);
}